@namespace Primer.Components
@inherits PrimerComponentBase

@if (Visible)
{
    <button type="button" class="@ClassGenerator.Class" @onclick="OnClick" aria-label="Close">
        @ChildContent
    </button>
}
